{% extends "templates/base.html" %}

{% load staticfiles %}

{% block content %}
<style type="text/css">
    .customdropdown{
        width: 150px;
    }
</style>
<form id="central">
<div class="side-body">
<div class="page-title">
    <span class="title">Create Service</span>
    <div class="description"></div>
</div>
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <div class="title">Enter Customer Details</div>
                    </div>
                </div>
                <div class="card-body">
                   <form class="form-inline" id="customerreportform">
                        <div class="form-group" style="padding-right:5em;">
                        <label for="exampleInputEmail2">Select Customer: </label>&nbsp; &nbsp;
                         <select id="customerdropdown">
                             <option value="">Select Customer's</option>
                          {% for customer in customers%}
                              <option value="{{customer.id}}">{{customer}}</option>
                          {% endfor %}
                        </select>
                          &nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                        <div class="login-button text-center">
                            <input type="submit" id="generate-report" class="btn btn-primary" value="Generate Report">
                            <input type="submit" style="display: none;" id="generate-invoice" class="btn btn-primary" value="Generate Invoice">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="reportresult">
    </div>
</div>

{% endblock content %}

{% block scripts_extend %}
    <script type="text/javascript" src="{% static 'js/customerreport.js' %}"></script>
{% endblock scripts_extend %}
