{% extends "templates/base.html" %}

{% load staticfiles %}

{% block content %}
<div class="side-body">
<div class="page-title">
    <span class="title">Generate Invoice</span>
    <div class="description"></div>
</div>
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <div class="title">Customer Details</div>
                    </div>
                </div>
                <div class="card-body">
                    <form class="form-inline">
                        <div class="sub-title">Customer Details</div>
                        <div class="form-group" style="padding-right:5em;">
                            <label for="exampleInputEmail2">First Name: </label>&nbsp;&nbsp;
                            {{service.customer.first_name|title|default:"NA"}}
                        </div>
                        <div class="form-group" style="padding-right:5em;">
                            <label for="exampleInputEmail2">Last Name: </label>&nbsp;&nbsp;
                            {{service.customer.last_name|title|default:"NA"}}
                        </div>
                        <div class="form-group" style="padding-right:5em;">
                            <label for="exampleInputEmail2">Email: </label>&nbsp;&nbsp;
                            {{service.customer.email|default:"NA"|default_if_none:"NA"}}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail2">Contact Number:</label>&nbsp;&nbsp;
                            {{service.customer.phone_number}}
                        </div>
                            <div class="form-group" style="padding-right:5em;">
                            <label for="exampleInputEmail2">Gender:</label>&nbsp;&nbsp;
                            {{service.customer.gender|title|default:"NA"}}
                            </div>
                        <div class="form-group" style="padding-right:5em;">
                            <label for="exampleInputEmail2">Address: </label>&nbsp;&nbsp;
                            {{service.customer.address|title|default:"NA"}} 
                        </div>
                    </form>
                </div>
            </div>
            </div>
            </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <div class="title">Vehical Details</div>
                    </div>
                </div>
                <div class="card-body">
                    <form class="form-inline">
                        <div class="sub-title">Vehical Details</div>
                        <div class="form-group" style="padding-right:5em;">
                            <label for="exampleInputEmail2">Car Number: </label>&nbsp;&nbsp;
                            {{service.vehical.vehical_number}}
                        </div>
                        <div class="form-group" style="padding-right:5em;">
                            <label for="exampleInputEmail2">Car Name: </label>&nbsp;&nbsp;
                            {{service.vehical.vehical_name|title}}
                        </div>
                        <div class="form-group" style="padding-right:5em;">
                            <label for="exampleInputEmail2">Colour: </label>&nbsp;&nbsp;
                            {{service.vehical.vehical_colour|title|default:"NA"}}
                        </div>
                        <br>
                        <br>
                        <div class="form-group" style="padding-right:5em;">
                            <label for="exampleInputEmail2">About: </label>&nbsp;&nbsp;
                            {{service.vehical.about|title|default:"NA"|default_if_none:"NA"}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <div class="title">Service Details</div>
                    </div>
                </div>
                <div class="card-body">
                    <form class="form-inline">
                        <div class="form-group" style="padding-right:5em;">
                            <label for="exampleInputEmail2">Invoice Number: </label>&nbsp;&nbsp;
                            {{service.invoice_number}}
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="form-group" style="padding-right:5em;">
                            <label for="exampleInputEmail2">Serviced By: </label>&nbsp;&nbsp;
                            {{service.mechanic|title|default:"Mechanic Not Assigned Yet"}}
                        </div>
                        <br>
                        <br>
                        <div class="form-group" style="padding-right:5em;">
                            <label for="exampleInputEmail2">Service Created By: </label>&nbsp;&nbsp;
                            {{service.created_by}}
                        </div>
                        <div class="form-group" style="padding-right:5em;">
                            <label for="exampleInputEmail2">Service Reported Date: </label>&nbsp;&nbsp;
                            {{service.service_date}}
                        </div>
                        <div class="form-group" style="padding-right:5em;">
                            <label for="exampleInputEmail2">Expected Delivery Date: </label>&nbsp;&nbsp;
                            {{service.expected_delivery_date}}
                        </div>
                        <input type="hidden" value="{{service.invoice_number}}" id="service-invoice-number">
                    </form>

                        {% if service.is_serviced %}
                               <br>
                               <br>
                              <div class="form-group" style="padding-right:5em;">
                                    <label for="exampleInputEmail2">Next Service Date: </label>&nbsp;&nbsp;
                                    {{service.next_service_date}}
                                </div>
                                <div class="form-group" style="padding-right:5em;">
                                    <label for="exampleInputEmail2">Remarks: </label>&nbsp;&nbsp;
                                    {{service.remark|title|default:"NA"}}
                                </div>
                                <div class="form-group" style="padding-right:5em;">
                                    <label for="exampleInputEmail2">Service Delivery Date: </label>&nbsp;&nbsp;
                                    {{service.delivery_date}}
                                </div>
                                <div class="form-group" style="padding-right:5em;">
                                    <label for="exampleInputEmail2">Total Paid Amount: </label>&nbsp;&nbsp;
                                    $ {{service.total_paid}}
                                </div>
                                <div class="form-group" style="padding-right:5em;">
                                    <label for="exampleInputEmail2">Pending Amount: </label>&nbsp;&nbsp;
                                    $ {{service.total_pending}}
                                </div>

                                <div class="form-group" style="padding-right:5em;">
                                    <label for="exampleInputEmail2">Labour Cost: </label>&nbsp;&nbsp;
                                    $ {{service.labour_cost}}
                                </div>
                                <div class="form-group" style="padding-right:5em;">
                                    <label for="exampleInputEmail2">Part Cost: </label>&nbsp;&nbsp;
                                    $ {{service.part_cost}}
                                </div>

                                <div class="form-group" id="display-total-cost" style="padding-right:5em;">
                                    <label for="exampleInputEmail2">Total Cost: </label>&nbsp;&nbsp;
                                    $ {{service.total_cost}}
                                </div>
                                <div class="form-group" style="padding-right:5em;">
                                    <label for="exampleInputEmail2">Tax: </label>&nbsp;&nbsp;
                                     {{service.tax}} %
                                </div> 
                                <div class="card-body">
                                    <div class="panel panel-default">
                                        <!-- Default panel contents -->
                                        <div class="panel-heading">Item Descriptions</div>
                                        <div class="panel-body">
                                        </div>
                                        <!-- Table -->
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Quantity</th>
                                                <th>Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                               {% for part in service.parts.all %}
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{part.part_name}}</td>
                                                    <td>{{part.part_quantity}}</td>
                                                    <td>{{part.price}}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                {% if not service.complete_payment %}
                                    <form id="costform">
                                    <div class="card-body">
                                        <div class="form-group pull-right" style="padding-right:5em;">
                                            <label for="exampleInputEmail2">Pending Payment: </label>&nbsp;&nbsp;
                                            <input type="text" name="pending_amount" id="pending_amount" onKeyPress="return floatonly(this, event)" value=0 class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="exampleInputEmail2">Total Cost: </label>&nbsp;&nbsp;
                                            <input type="text" name="total_amount" id="totalcost" placeholder="Total Amount" class="form-control" value="{{service.total_cost}}" readonly>
                                        </div>
                                        <div class="form-group" >
                                            <label for="exampleInputEmail2">Total Pending: </label>&nbsp;&nbsp;
                                            <input type="text" name="total_pending" id="total_pending" placeholder="Pending Amount" value="{{service.total_pending}}" class="form-control" readonly>
                                        </div>
                                    </div>
                                    </form>
                                    <div class="card-body">
                                        <div class="login-button text-center">
                                            <a class="btn btn-primary" id="pendingamount">Pay Pending Amount</a>
                                            <a class="btn btn-primary" href="{% url 'service:invoice_view' service.invoice_number %}" id="generateinvoice" >Generate Invoice</a>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="card-body">
                                        <div class="login-button text-center">
                                            <a class="btn btn-primary" href="{% url 'service:invoice_view' service.invoice_number %}" id="generateinvoice" >Generate Invoice</a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% else %}
                                <br>
                                <br>
                              <div class="form-group" style="padding-right:5em;">
                                    <label for="exampleInputEmail2">Next Service Date: </label>&nbsp;&nbsp;
                                    <input type="text" id="expected-date" name="next_service_date" class="form-control">
                                </div>
                                <br>
                                <br>
                                <div class="form-group" style="padding-right:5em;">
                                    <label for="exampleInputEmail2">Remarks abot the Service: </label>&nbsp;&nbsp;
                                    <textarea type="text" rows="2" cols="80" placeholder="" id="remark" name="remark" class="form-control"> </textarea>
                                </div>
                                <div class="card-body">
                                <div class="panel panel-default">
                                    <!-- Default panel contents -->
                                    <div class="panel-heading">Item Description</div>
                                    <div class="panel-body">
                                    </div>
                                    <!-- Table -->
                                    <form id="tabledata">
                                        <table class="table" id="itemtable">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Name</th>
                                                    <th>Quantity</th>
                                                    <th>Price</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </form>    
                                </div>
                                <button class="btn btn-sm btn-default" id="addpart" type="button">Add Part</button>
                            </div>
                            <br>
                            <br>
                            <form id="costform">
                                <div class="card-body">
                                    <div class="form-group pull-right" style="padding-right:5em;">
                                        <label for="exampleInputEmail2">Labour Cost: </label>&nbsp;&nbsp;
                                        <input type="text" name="labour_cost" id="labour_cost" onKeyPress="return floatonly(this, event)" class="form-control" value=0 required>
                                    </div>
                                    <div class="form-group pull-right" style="padding-right:5em;">
                                        <label for="exampleInputEmail2">Tax Percentage: </label>&nbsp;&nbsp;
                                        <input type="text" name="first_name" id="tax" onKeyPress="return floatonly(this, event)" class="form-control" value=0 required>
                                    </div>
                                    <div class="form-group pull-right" style="padding-right:5em;">
                                        <label for="exampleInputEmail2">Total Paid: </label>&nbsp;&nbsp;
                                        <input type="text" name="total_paid" id="total_paid" onKeyPress="return floatonly(this, event)" class="form-control" value=0 required>
                                    </div>
                                </div>
                            </form>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail2">Total Cost: </label>&nbsp;&nbsp;
                                    <input type="text" name="total_amount" id="totalcost" placeholder="Total Amount" class="form-control" readonly>
                                </div>
                                <div class="form-group" >
                                    <label for="exampleInputEmail2">Total Pending: </label>&nbsp;&nbsp;
                                    <input type="text" name="total_pending" id="total_pending" placeholder="Pending Amount" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="login-button text-center">
                                    <a class="btn btn-primary" id="calculateamount">Calculate Amount</a>
                                    <a class="btn btn-primary" id="makepayment">Make Payment</a>
                                    <a class="btn btn-primary" href="{% url 'service:invoice_view' service.invoice_number %}" id="generateinvoice" >Generate Invoice</a>
                                </div>
                            </div>
                            {% endif %}
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts_extend %}
    <script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock scripts_extend %}
