    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <div class="title">Report From {{from|date:"d M Y"}} To {{till|date:"d M Y"}}</div>
                </div>
            </div>
        <div class="card-body" id="report-body">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Report Descriptions</div>
            <div class="panel-body">
            </div>
            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Serviced Product</th>
                    <th>Total Price</th>
                    <th>Total Paid</th>
                    <th>Total Pending</th>
                    </tr>
                </thead>
                <tbody>
                   {% for service in services%}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{service.customer}}</td>
                        {% if service.vehical %}
                            <td>{{service.vehical}}</td>
                        {% else %}
                            <td>{{service.otherservice}}</td>
                        {% endif %}
                        <td>{{service.total_cost}}</td>
                        <td>{{service.total_paid}}</td>
                        <td>{{service.total_pending}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        </div>
    </div>
</div>

