{% extends "templates/base.html" %}

{% load staticfiles %}

{% block content %}
<div id="main-body" class="side-body padding-top">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <a href="{% url 'service:service_pending' %}">
                                <div class="card red summary-inline">
                                    <div class="card-body">
                                        <i class="icon fa fa-inbox fa-4x"></i>
                                        <div class="content">
                                            <div class="title">{{pending_service.count}}</div>
                                            <div class="sub-title">Pending Service</div>
                                        </div>
                                        <div class="clear-both"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <a href="{% url 'service:service_search' %}">
                                <div class="card yellow summary-inline">
                                    <div class="card-body">
                                        <i class="icon fa fa-comments fa-4x"></i>
                                        <div class="content">
                                            <div class="title">{{monthly_service}}</div>
                                            <div class="sub-title">Current Month Service</div>
                                        </div>
                                        <div class="clear-both"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <a href="{% url 'customer:customer_view' %}">
                                <div class="card green summary-inline">
                                    <div class="card-body">
                                        <i class="icon fa fa-users fa-4x"></i>
                                        <div class="content">
                                            <div class="title">{{total_customer}}</div>
                                            <div class="sub-title">Total Customers</div>
                                        </div>
                                        <div class="clear-both"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <a href="{% url 'service:service_search' %}">
                                <div class="card blue summary-inline">
                                    <div class="card-body">
                                        <i class="icon fa fa-share-alt fa-4x"></i>
                                        <div class="content">
                                            <div class="title">{{total_service}}</div>
                                            <div class="sub-title">Total Serviced</div>
                                        </div>
                                        <div class="clear-both"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row  no-margin-bottom">
                        <div class="col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="card primary">
                                        <div class="card-jumbotron no-padding">
                                            <canvas id="jumbotron-line-chart" class="chart no-padding"></canvas>
                                        </div>
                                        <div class="card-body half-padding">
                                            <h4 class="float-left no-margin font-weight-300">Profits</h4>
                                            <h2 class="float-right no-margin font-weight-300">$3200</h2>
                                            <div class="clear-both"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="card primary">
                                        <div class="card-jumbotron no-padding">
                                            <canvas id="jumbotron-bar-chart" class="chart no-padding"></canvas>
                                        </div>
                                        <div class="card-body half-padding">
                                            <h4 class="float-left no-margin font-weight-300">Orders</h4>
                                            <div class="clear-both"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="card primary">
                                        <div class="card-jumbotron no-padding">
                                            <canvas id="jumbotron-line-2-chart" class="chart no-padding"></canvas>
                                        </div>
                                        <div class="card-body half-padding">
                                            <h4 class="float-left no-margin font-weight-300">Pages view</h4>
                                            <div class="clear-both"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-success">
                                <div class="card-header">
                                    <div class="card-title">
                                        <div class="title"><i class="fa fa-comments-o"></i> Pending Service</div>
                                    </div>
                                    <div class="clear-both"></div>
                                </div>
                                <div class="card-body no-padding">
                                    <ul class="message-list">
                                        {%for service in pending_service %}
                                        <a href="{% url 'service:service_view' service.invoice_number%}">
                                            <li>
                                                <img src="{% static 'images/service.png' %}" class="profile-img pull-left">
                                                <div class="message-block">
                                                    <div><span class="username">{{service.customer}}</span> <span class="message-datetime">{{service.service_date}}</span>
                                                    </div>
                                                    <div class="message">{{service.vehical}} needs to be serviced by {{service.expected_delivery_date}}</div>
                                                </div>
                                            </li>
                                        </a>
                                        {% endfor %}
                                        {% if pending_service %}
                                        <a id="message-load-more" href="{% url 'service:service_pending' %}">
                                            <li class="text-center load-more">
                                                <i class="fa fa-refresh"></i> view more..
                                            </li>
                                        </a>
                                        {% else %}
                                        <a id="message-load-more" href="#">
                                            <li class="text-center load-more">
                                                <i class=""></i> No Pending Service Available 
                                            </li>
                                        </a>
                                        {% endif%}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

{% endblock content %}

{% block scripts_extend %}
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock scripts_extend %}
